<div class="grid-x content">

    <div class="cell small-10 large-8 medium-10 large-offset-2 medium-offset-1 small-offset-1">

        <!--Pod-info section-->
        {{>podcast-information}}

        <div class="cell large-12">
            <h2>Write a review</h2>
        </div>

        <form action="" method="POST">

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div id="information-holder">

                {{#with information.[0]}}
                <label for="podcastNameReview">
                    <h2>{{collectionName}}</h2>
                </label>

                <!--Potential issue, if possible for use to change-->

                <input type="text" id="hide" name="collectionName" value="{{collectionName}}" readonly>
                <input type="text" id="hide" name="artistName" value="{{artistName}}" readonly>
                {{/with}}

                <ul>
                    {{#each inputErrors}}
                    <li class="errorInput">{{this}}</li>
                    {{/each}}
                </ul>

                <div class="gird-x cell checkgroup">

                    <span>
                        <input class="tone" id="comedy" type="radio" name="podcastTone" value="comedy">
                        <label class="tone" for="comedy" aria-label="drama face happy">
                            Comedy/Relaxed
                            <svg role="img">
                                <use xlink:href="/sprites/sprites.svg#funny">
                            </svg>
                        </label>
                    </span>

                    <span>
                        <input class="tone" id="drama" type="radio" name="podcastTone" value="drama">
                        <label class="tone" for="drama" aria-label="drama face sad">
                            Drama/Serious
                            <svg role="img">
                                <use xlink:href="/sprites/sprites.svg#serious">
                            </svg>
                        </label>
                    </span>

                </div>


                <div class="grid-x cell">
                    {{>chooseRating}}
                </div>

                <div class="grid-x cell">

                    <div class="cell small">
                        <label>
                            Write a review
                            <textarea rows="5" cols="2" placeholder="Write your review here..."
                                name="reviewText">{{text}}</textarea>
                        </label>
                        <div>
                            <input type="submit" class="podsaint-button button" value="Submit">
                        </div>
                    </div>

                </div>

            </div>

        </form>
    </div>
</div>