<div class="grid-x">
    <!-- each need to get into scope-->
    {{#each model.information}}
    <div class="cell">
        <div class="grid-x">
            <div id="information-holder" class="cell">
                <div class="grid-x">
                    <div class="cell small-12 medium-12 large-4">
                        <img id="podcast-image-2" class="float-responsive" src="{{artworkUrl600}}">
                    </div>
                    <div class="cell small-12 medium-12 large-4">
                        <h1>{{collectionName}}</h1>
                        <h2>{{artistName}}</h2>
                    </div>
                    <div class="cell large-4 medium-12 small-12">
                        <h2 class="text-right">{{trackCount}} Episodes</h2>
                        <a href="{{collectionViewUrl}}" class="buttons">More information on iTunes</a>
                    </div>
                    <div class="grid-x">
                        <div class="cell">
                            <p class="text-left">Overall: Rating</p>
                            <p class="text-left">Production quality: Rating</p>
                            <p class="text-left">Funny: Rating</p>
                        </div>
                    </div>
                </div>
                <div class="cell text-left">
                    <h2>Information</h2>
                    <p>
                        I WILL WRITE MORE WEBSCRAPE
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam maximus quam nec risus vehicula,
                        vel
                        mattis turpis pellentesque. Mauris diam purus, pretium id justo ac, scelerisque cursus ex.
                        Curabitur
                        vulputate vel nulla non finibus. Phasellus quis sagittis nunc. Integer nunc urna, convallis id
                        urna
                        a, imperdiet euismod metus. Etiam vel cursus tellus, in viverra sem. Duis pellentesque rutrum
                        mi,
                        non luctus mauris scelerisque eget. Donec eu augue consequat, tristique enim nec, pulvinar urna.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
