<div class="grid-x">
    
    {{#if model.loggedIn}}
    <div class="cell action-menu">
        <ul>
            <li><a href="/podcast/{{model.collectionId}}/add-to-playlist" id="add-to-list">Add to your podcasts</a></li>
        </ul>
    </div>
    {{/if}}

</div>
<div class="grid-x">
    <div id="information-holder" class="cell">
        <!-- each need to get into scope-->
        {{#with model}}
        {{#with information.[0]}}
        <div class="cell">

            <div class="grid-x">
                <div class="cell small-12 medium-12 large-4">
                    <img id="podcast-image-2" class="float-responsive" src="{{artworkUrl600}}">
                </div>
                <div class="cell small-12 medium-12 large-4">
                    <h1>{{collectionName}}</h1>
                    <h2>{{artistName}}</h2>
                    <h3>{{genres.[0]}}</h3>
                </div>
                <div class="cell large-4 medium-12 small-12">
                    <h2 class="text-right">{{trackCount}} Episodes</h2>
                    <a href="{{collectionViewUrl}}" class="buttons">More information on iTunes</a>
                </div>
            </div>
            {{/with}}

            <div class="cell">
                {{#if reviews}}
                {{>review-box-info}}
                {{else}}
                <p> No one has yet rated "{{information.[0].collectionName}}" </p>
                <a href="/podcast/{{collectionId}}/write-review">Rate it?</a>
                {{/if}}
            </div>

            <div class="cell text-left">
                <h2>Description</h2>
                <p>
                    {{description}}
                </p>
            </div>
        </div>
        {{/with}}
    </div>
    

</div>