<form id="podsaint-search" method="GET" id="search-form" action="/search/podsaint/{{model.id}}">
    <fieldset id="main-field" class="fieldset">
                {{#if model.category}}
              <input type="text" name="searchText" placeholder="Search for podcast in {{model.category}}..." value="{{model.prevSearchText}}">
        {{else}}
            <input type="text" name="searchText" placeholder="Search for podcast on podsaint..." value="{{model.prevSearchText}}">
        {{/if}}
        <div id="options">
            <div class="grid-x cell">
                <div class="cell small-6">
                    <label>
                        Choose category:
                        <select name="category">
                            {{#if model.id}}
                            <option value="all">{{model.category}}</option>
                            {{#each model.subCategories}}
                            <option value="{{id}}">{{category}}</option>
                            {{/each}}
                            {{else}}
                            <option value="all">All</option>
                            {{#each model.categories}}
                            <option value="{{id}}">{{category}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                    </label>
                </div>
            </div>
            <div class="text-center">
                <div class="grid-x cell checkgroup text-center">
                    <span>
                        <input class="tone" id="comedy" type="checkbox" name="podcastTone" value="comedy">
                        <label class="tone" for="comedy" aria-label="drama face happy">
                            Comedy/Relaxed
                            <svg role="img">
                                <use xlink:href="/sprites/sprites.svg#funny">
                            </svg>
                        </label>
                    </span>

                    <span>
                        <input class="tone" id="drama" type="checkbox" name="podcastTone" value="drama">
                        <label class="tone" for="drama" aria-label="drama face sad">
                            Drama/Serious
                            <svg role="img">
                                <use xlink:href="/sprites/sprites.svg#serious">
                            </svg>
                        </label>
                    </span>
                </div>
            </div>
            <div class="grid-x cell text-center">

                {{>chooseRating}}

            </div>

        </div>
    </fieldset>
</form>