<div class="cell small-6">
    <label>
        Choose category:
        <select name="category">
            <option value="all">All</option>
            {{#if model.id}}
            {{#each model.subCategories}}
            <option value="{{id}}">{{category}}</option>
            {{/each}}
            {{else}}
            {{#each model.categories}}
            <option value="{{id}}">{{category}}</option>
            {{/each}}
            {{/if}}
        </select>
    </label>
</div>