<form id="sign-up-form" action="/signup" method="POST">
    <label>
        Username
        <input id="input-username" type="text" name="username">
    </label>
    <p>{{inputError.userDupError}}</p>
    <p>{{inputError.usernameLengthError}}</p>
    <label>
        Email
        <input id="input-email" type="email" name="email">
    </label>
    <p>{{inputError.emailDupError}}</p>
    <p>{{inputError.emailLengthError}}</p>
    <label>
        Password
        <input id="input-password" type="password" name="password">
        <p class="help-text" id="passwordHelpText">Your password must have at least 5 characters</p>
    </label>
    <p>{{inputError.passwordLengthError}}</p>
    <input id="sign-up-btn" class="button pop-up-button" type="submit" value="SIGN UP">
</form>
<div class="center alternative-sign-up">
    <div class="sign-text">Or sign up using</div>
    <ul class="social-media-list">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-google"></a></li>
    </ul>
</div>